body {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a {
  color: #6a7887;
}

a:hover {
  color: #0056b3;
}

.snippet-header {
  padding: 60px 0;
}

.simple-nav {
  padding: 10px;
}

.simple-nav h4 {
  display: inline;
  margin-right: 15px;
}

.nav.colored {
  background: #333;
}

.nav.colored a {
  color: #fff;
}

.fancy-header {
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  padding: 8em 0;
}

.alt-color {
  background-color: #f39f86;
  background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
}

.alt-color-2 {
  background-color: #f6f0c4;
  background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
}

.background {
  background-image: url('background.jpg');
  background-size: cover;
}

.shadow-background {
  color: white;
  text-shadow: rgba(0,0,0,0.4) 0 0 30px;
/*  color: black; */
/*  text-shadow: rgba(255,255,255,0.4) 0 0 30px; */
}

#headline-4 {
  background-color: black !important;
  opacity: 0.75;

}

img {
  max-width: 100%;
}

.section {
  padding-top: 30px;
}

.text-highlight h1 {
  background: #FAD0C4;
  color: black;
  display: inline;
  line-height: 1.15;
}

.footer {
  background: #f5f5f5;
}

.footer .container {
  padding: 30px 0;
}